/* ================================= 
  General
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: .95em;
    line-height: 1.6;
    color: #4A4A4A;
    background-color: #FAFAFA;
}

p {
    margin-bottom: 1.5em;
}

h2 {
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0;
}

h3 {
    font-size: 1.17em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 2px;
}

a {
    color: #4A4A4A;
    text-decoration: none;
}

a,
ul {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}


/* ================================= 
  Navigation
==================================== */

.name-header {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.75em;
    margin: 0;
    padding: 0;
}

.main-nav {
    margin-top: 5px;
}

.main-nav li {
    margin-top: 6px;
    margin-bottom: 6px;
}

.main-nav a {
    text-transform: uppercase;
    font-weight: 700;
    background: #FFF;
    transition: all 0.5s;
}

.main-nav a:hover {
    color: #099;
}

.name-header a,
.main-nav a {
    padding: 10px 15px;
    text-align: center;
    display: block;
}


/* ================================= 
  Layout Containers
==================================== */

.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
}

.banner,
.main-header {
    text-align: center
}

.banner {
    color: #7F7F7F;
    padding: 20px 0;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.profile-photo {
    width: 200px;
}

#portfolio {
    background: #fff;
    padding-bottom: 30px;
}

.portfolio-gallery li {
    margin-bottom: 40px;
}

#contact,
.portfolio-gallery {
    margin: 0;
    text-align: center;
}

#contact {
    padding-bottom: 70px;
    border-bottom: 2px solid #E7E7E7;
}

#contact p {
    margin-top: 0;
}

.contact-info li {
    margin-bottom: 20px;
}

.contact-info a {
    padding-left: 10px;
    font-weight: 700;
}

.main-footer {
    font-weight: 700;
    padding: 2em 0;
}

.name-footer {
    font-size: 1em;
    float: left;
}

.nav-footer {
    float: right;
    margin-top: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}