/* ================================= 
  General
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: .95em;
    line-height: 1.6;
    color: #4A4A4A;
    background-color: #FAFAFA;
}

p {
    margin-bottom: 1.5em;
}

h2 {
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0;
}

h3 {
    font-size: 1.17em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 2px;
}

a {
    color: #4A4A4A;
    text-decoration: none;
    transition: all 0.5s;
}

li a:hover {
    color: #099;
}

a,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* ================================= 
  Navigation
==================================== */

.name-header,
.name-footer {
    font-family: 'Work Sans', sans-serif;
}

.name-header {
    font-size: 1.75em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.main-nav {
    padding: 0;
}

.main-nav li {
    margin-top: 6px;
    margin-bottom: 6px;
}

.main-nav a {
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FFF;
}

.name-header a,
.main-nav a {
    padding: 10px 15px;
    text-align: center;
    display: block;
}


/* ================================= 
  Layout Containers
==================================== */

.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
}

.banner,
.main-header {
    text-align: center
}

.banner {
    color: #7F7F7F;
    padding: 20px 0;
}

.container {
    padding: 0 5%;
}

.col {
    padding: 0 1em 2em;
}

.profile-photo {
    width: 60%;
}

#portfolio {
    background: #FFF;
}

.row,
#contact {
    margin: 0;
    text-align: center;
}

#contact {
    padding: 1em 1em 3em;
    border-bottom: 2px solid #E7E7E7;
}

#contact p {
    margin: auto;
    padding-bottom: 40px;
}

.contact-info {
    padding: 0;
}

.contact-info li {
    margin-bottom: 20px;
}

.contact-info a {
    padding-left: 10px;
    font-weight: 700;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    padding: 2em 0;
}

.name-footer {
    font-size: 1.12em;
}

.hidden {
    display: block;
}

.footer-nav {
    display: none;
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

    .container {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .main-header,
    .main-nav,
    .banner,
    .row,
    .footer-nav {
        display: flex;
    }

    .main-header {
        padding-top: 1em;
        padding-bottom: 1em;
        flex-direction: column;
        align-items: center;
    }

    .main-nav li {
        margin: 0;
    }

    .main-nav a {
        background-color: transparent;
    }

    .banner {
        padding-bottom: 60px;
    }

    .bannar-col {
        flex: 1;
    }

    .banner p {
        order: -1;
        flex: 2;
        margin: 0;
        padding-right: 15px;
        text-align: left;
    }

    #portfolio {
        padding-left: 1em;
        padding-right: 1em;
    }

    .row {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .col {
        flex: 1 50%;
    }

    #contact p {
        width: 65%;
    }

    .hidden {
        display: none;
    }

    .footer-nav {
        margin: 0;
    }

    .footer-nav a {
        padding-left: 30px;
    }

}

@media (min-width: 1024px) {

    .container {
        width: 80%;
        max-width: 1150px;
    }

    .main-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .main-nav {
        margin: 0;
    }

    .main-nav a {
        padding: 0 0 0 30px;
    }

    .col {
        flex-basis: 33.3333%;
    }

}